In [1]:
import pandas as pd

In [6]:
df = pd.DataFrame(np.random.randn(10,3), columns=["x1","x2","x3"])
df["x4"] = 5*["a","b"]

In [20]:
# sample within series
df["x1"].sample(n=5)
df["x4"].value_counts(normalize=True)

a    0.5
b    0.5
Name: x4, dtype: float64

In [15]:
df.x1.size
df.x1.shape
len(df.x2)
# count only contain non NA values
df.x1.count()
df.x2.max()
df.x2.quantile([0.3,0.5])

0.3   -1.171181
0.5   -0.544425
Name: x2, dtype: float64

In [21]:
df.x2.isna()
df.x2.fillna(0)
df.x2.dropna()
df.x3.notna()

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: x3, dtype: bool

In [23]:
# return pandas series
type(df.x1)
# return datatype float64
df.x1.dtype

dtype('float64')

In [24]:
df.x1.astype("int")

0    1
1   -1
2    1
3    0
4    1
5    0
6   -1
7    2
8    0
9    1
Name: x1, dtype: int32

In [26]:
col_map = {"x1":"X","x2":"Y","x3":"Z"}
df.rename(columns = col_map)

          X         Y         Z x4
0  1.498592 -1.176244  1.350384  a
1 -1.091786  0.436204  0.217995  b
2  1.173645 -0.220774  0.804062  a
3  0.070376 -0.137463 -0.945586  b
4  1.312136  0.460920  0.200647  a
5 -0.090627  0.721946 -1.335453  b
6 -1.483593 -1.256989  0.890139  a
7  2.231292 -1.169011  1.563818  b
8 -0.321647 -1.331514  1.304396  a
9  1.083800 -0.868076  0.574670  b